.projects {
    position: relative;
    color: #fff;
    z-index: 1;
}

.top-section {
    position: absolute;
    top: -950%;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: url('../src/img/dirt.png');
    background-size: cover;
}

.bottom-section {
    position: relative;
}

.texto {
    margin-top: 300px;
}
