.aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 150px;
  }
  
  #title-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #name {
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
    animation: drop-in 1s ease forwards;
  }
  
  #personal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation: drop-in 1s ease forwards;
  }
  
  #card-personal {
    width: 50%;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    animation: drop-in 1s ease forwards;
  }
  
  #personal-info #about {
    font-size: 50px;
    margin-bottom: 10px;
  }

  #personal-info p {
    font-size: 32px;
    font-weight: light;
  }
  
  @media (max-width: 1200px) {
    #name {
      font-size: 40px;
    }

    #personal-info #about {
        font-size: 20px;
    }

    #personal-info p {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
  #name {
    font-size: 35px;
  }

  #personal-info #about {
      font-size: 15px;
  }

  #personal-info p {
      font-size: 12px;
  }
}

@media (max-width: 768px) {
  #name {
    font-size: 25px;
  }

  #personal-info #about {
      font-size: 25px;
  }

  #personal-info p {
      font-size: 15px;
  }
}

@media (max-width: 576px) {
  #name {
    font-size: 20px;
  }

  #personal-info #about {
      font-size: 20px;
  }

  #personal-info p {
      font-size: 13px;
  }
}


  @keyframes drop-in {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  p {
    font-size: 12px;
    font-weight: light;
    color: #333333;
  }
  
  span a {
    font-size: 18px;
    color: #cccccc;
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.4s ease-in-out;
    &:hover {
      color: #ffffff;
    }
  }
  
  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
  }
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  
  .avatar {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
    animation: drop-in 1s ease forwards, float 6s ease-in-out infinite;
    animation-delay: 0s, 1s;
  }

  .avatar img {
      width: 100%;
      height: auto;
  }


  #background-wrap {
    bottom: 0;
    left: 0;
    padding-top: 50px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

.x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}

.cloud {
	background: url('../src/img/nube.png') no-repeat center center;
	height: 210px;
	position: relative;
	width: 350px;
}
